img {
    display: block;
    margin: 1.5rem auto 1.5rem auto;
    max-height: 70vh;
    max-width: 80vw;
}

h1 {
    margin: 10px 0;
}

body {
    display: table;
    margin: 3rem auto;
    color: #333;
}

.button-wrapper {
    text-align: center;
}

.buttons {
    display: inline-block;
    margin: 0 auto;
}

.statement {
    margin-top: 1.5rem;
}

button {
    margin: 0 5px;
}
