img {
    display: block;
    margin: 1.5rem auto 1.5rem auto;
    height: 450px;
}

h1 {
    margin: 10px 0;
}

.photo-container { 
    max-width: 600px;
    width: 80%;
    margin: 3rem auto;
    color: #333;
}

.button-wrapper {
    text-align: center;
}

.buttons {
    display: inline-block;
    margin: 0 auto;
}

.statement {
    margin-top: 1.5rem;
}

button {
    margin: 0 5px;
}
