img {
    display: block;
    margin: 3rem auto;
    max-height: 500px;
}

body {
    width: 80%;
    margin: auto;
    color: #333;
}

.button-wrapper {
    text-align: center;
}

.buttons {
    display: inline-block;
    margin: 0 auto;
}

button {
    margin: 0 5px;
}
